absl-py==0.8.1
aiohttp==3.6.2
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
arff==0.9
asn1crypto==1.2.0
astor==0.8.0
astroid==2.3.2
astropy==3.2.3
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
audioread==2.1.8
Babel==2.7.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.8.1
bitarray==1.0.1
bkcharts==0.2
bleach==3.3.0
bokeh==1.4.0
boto==2.49.0
Bottleneck==1.2.1
cachetools==3.1.1
catboost==0.14.2
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
conda==4.7.12
conda-build==3.17.8
conda-package-handling==1.6.0
conda-verify==3.1.1
contextlib2==0.6.0
cryptography==3.2
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.7.0
decorator==4.4.1
defusedxml==0.6.0
discord.py==1.3.3
distributed==2.7.0
dnspython==1.16.0
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
fsspec==0.5.2
future==0.18.2
gast==0.2.2
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google-auth==1.7.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
graphviz==0.10.1
greenlet==0.4.15
grpcio==1.24.1
gunicorn==20.0.0
gym==0.15.4
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
idna==2.8
imageio==2.6.1
imagesize==1.1.0
importlib-metadata==0.23
imutils==0.5.3
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4.1
Jinja2==2.10.3
joblib==0.14.0
json5==0.8.5
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==1.1.4
jupyterlab-server==1.0.6
kaggle==1.5.3
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
libarchive-c==2.8
librosa==0.7.2
lief==0.9.0
llvmlite==0.30.0
locket==0.2.0
lxml==4.6.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==0.6.1
multidict==4.7.6
multipledispatch==0.6.0
mysql-connector-python==8.0.19
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==6.4.1
numba==0.46.0
numexpr==2.7.0
numpy==1.17.4
numpydoc==0.9.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.2.30
openpyxl==3.0.0
opt-einsum==3.1.0
packaging==19.2
pandas==0.25.2
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.1.0
pkginfo==1.5.0.1
pluggy==0.13.0
ply==3.11
profanity-check==1.0.3
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.9.2
psutil==5.6.6
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
PyAudio==0.2.11
PyAutoGUI==0.9.50
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydotplus==2.0.2
pydub==0.23.1
pyflakes==2.1.1
pygame==1.9.6
PyGetWindow==0.0.8
pyglet==1.3.2
Pygments==2.4.2
pylint==2.4.3
pymatch==0.3.4
PyMsgBox==1.0.8
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.4
pyperclip==1.8.0
PyRect==0.1.4
pyrsistent==0.15.4
PyScreeze==0.1.26
PySocks==1.7.1
PySoundFile==0.9.0.post1
pytest==5.2.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-slugify==3.0.2
python3-xlib==0.15
pyttsx3==2.71
PyTweening==1.0.3
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
regex==2019.4.14
requests==2.22.0
requests-oauthlib==1.3.0
resampy==0.2.2
rope==0.14.0
rope-py3k==0.9.4.post1
rsa==4.0
ruamel-yaml==0.15.46
schedule==0.6.0
scikit-image==0.15.0
scikit-learn==0.21.3
scikit-plot==0.3.7
scipy==1.3.1
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.13.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
SoundFile==0.10.3.post1
soupsieve==1.9.3
SpeechRecognition==3.8.1
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.10
statsmodels==0.10.1
sympy==1.4
tables==3.6.1
tblib==1.5.0
tensorboard==2.0.1
tensorflow==2.4.0
tensorflow-estimator==2.0.1
tensorflow-gpu==2.4.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
toolz==0.10.0
torch==1.3.1
torchvision==0.4.2
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
unicodecsv==0.14.1
urllib3==1.24.2
utils==1.0.1
wcwidth==0.1.7
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wikipedia==1.4.0
wrapt==1.11.2
wurlitzer==1.0.3
xlrd==1.2.0
XlsxWriter==1.2.2
xlwt==1.3.0
yarl==1.4.2
zict==1.0.0
zipp==0.6.0
